<form action="/save" method="post">
    Name
    <input type="text" name="firstName"><br><br>
    Age
    <input type="number" name="age"><br><br>
    <input type="submit" value="SAVE">
</form>

DELETE

<form action="/delete" method="post">
    <input type="number" name="ID" value="ID">
    <input type="submit" value="DELETE">
</form>