<form action="/save" method="get">
    Name
    <input type="text" name="firstName"><br><br>
    Age
    <input type="number" name="age"><br><br>
    <input type="submit" value="КЛОЦ">
</form>


fgf
{{testDB}}